@charset "UTF-8";
@import "main.css"; /* 타 css 로드 */

h1 {
    color : yellow;
    background-color: black;
}

/* 상태 선택자 : a */
a:link {
    /* 링크가 걸려 있는 상태 */
    color:blue;
}
a:hover {
    /* 마우스가 링크 위로 올라와 있는 상태 */
    font-weight:bold;
}
a:active {
    /* 클릭 상태 */
    color:red;
}
a:visited {
    /* 이미 방문한 페이지 */
    color: black;
}