@charset "UTF-8";

* {
    margin : 0;
    padding : 0;
}
body{
    font-family: "맑은 고딕", "돋움", serif;
    font-size: 12px;
    color: #333;
}
.tab-box {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 520px;
}
ul{
    list-style-type: none;
    height: 27px;
}
li {
    float: left;
    width: 100px;
    height: 22px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    padding-top: 3px;
    margin-right: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab {
    border: 1px solid #999;
    margin-top: -1px;
    text-align: center;
    line-height: 200px;
    width: 516px;
}
.selected:hover {
    background-color: #fc6;;
}